services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver_db
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "123456789" 
      MSSQL_PID: "Developer" 
    volumes:
      - sqlserver_data:/var/opt/mssql 
    networks:
      - app-network
    restart: always

volumes:
  sqlserver_data:

networks:
  app-network:
    driver: bridge